@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.relative:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
